<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::content})}">
<head>
    <title>Login - Unisights</title>
</head>
<body>
<div th:fragment="content">
    <div class="row justify-content-center" style="height:80vh">
        <div class="col-md-6 d-flex align-items-center">
            <form id="loginForm" class="card p-4 w-100">
                <h4 class="mb-3">Login</h4>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input class="form-control" name="email" id="email" placeholder="Email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <button class="btn btn-primary w-100">Login</button>
                <div id="msg" class="small text-danger mt-2"></div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('loginForm').onsubmit = async e => {
        e.preventDefault();
        const fd = new FormData(e.target);
        const body = Object.fromEntries(fd.entries());
        const token = localStorage.getItem("token");

        const r = await fetch('/api/v1/auth/login', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' , 'Authorization':`Bearer ${token}` },
            body: JSON.stringify(body)
        });

        if (!r.ok) {
            document.getElementById('msg').innerText = "Invalid";
            return;
        }

        const d = await r.json();
        localStorage.setItem("token", d.token);

        if (d.role === "STUDENT") {
            location.href = "/student";
        } else if (d.role === "CONSULTANT") {
            location.href = "/consultant";
        }
    };
</script>
</body>
</html>